<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
  //= include/header-s.html
  <div class="about__wrapper">
    <div class="about">
      <div class="about__item-wrapper">
        <div class="about__item">
          <b class="about__item-title">Образование</b>
          <p class="about__item-text">В 1987 году с отличием окончил Московский финансовый институт. <br> Затем получил дополнительное образование по специализации «советник по инвестициям» в Государственном университете Израиля. <br> Кандидат экономических наук.</p>
        </div>
      </div>
      <div class="about__item-wrapper">
        <div class="about__item">
          <b class="about__item-title">Профессиональный опыт</b>
          <p class="about__item-text">С 1990 года являлся старшим советником по инвестициям в Union Bank of Israel. <br> В 1997−1998 годах − начальник отдела инвестиционного консультирования компании «Према». <br> С 1998 по 2003 год работал топ-менеджером в ИК «Центринвест». <br> В мае 2003 года основал с партнерами компанию «Антанта капитал», с 2003 года являлся управляющим директором, а в 2006 году занял пост генерального директора. <br> В 2009 году стал партнером УК «Третий Рим». <br> В настоящее время является президентом инвестиционной группы «Московские партнеры». <br> Профессор Высшей школы экономики.</p>
        </div>
      </div>
      <div class="about__item-wrapper">
        <div class="about__item">
          <b class="about__item-title">Ключевые компетенции</b>
          <ul class="about__item-list">
            <li>Доверительное управление</li>
            <li>Услуги по привлечению капитала</li>
            <li>Сделки слияния и поглощения</li>
            <li>Листинг на бирже</li>
            <li>Pre- и post-IPO-услуги</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  //= include/footer.html
</body>

</html>