<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,400,700&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="css/styles.min.css">
</head>

<body>
  //= include/header.html
  <div class="services__wrapper">
    <section class="services">
      <b class="title-section">Достижения</b>
      <div class="services__item">
        <img src="img/cup.svg" alt="" class="services__item-img">
        <b class="services__item-title">Гуру фондового рынка</b>
        <p class="services__item-content">Chivas top 18 financial's award 2008 гуру фондового рынка</p>
      </div>
      <div class="services__item">
        <img src="img/badge.svg" alt="" class="services__item-img">
        <b class="services__item-title">Персона года</b>
        <p class="services__item-content">Ежегодная международная премия 'персона года', номинация: финансист года (20 февраля 2008)</p>
      </div>
      <div class="services__item">
        <img src="img/certificate.svg" alt="" class="services__item-img">
        <b class="services__item-title">РИИ</b>
        <p class="services__item-content">Допуск к торгам на рынке инноваций и инвестиций московской биржи (28 августа 2012)</p>
      </div>
    </section>
  </div>
  <div class="video__wrapper">
    <section class="video">
      <div class="video__descr"><b class="title-section">Интервью Комерсантъ</b>
        <div class="video__descr-text">
          <p>В эфире КоммерсантъFM поговорили о финансовых рисках, инвестиционных консультантах и увеличении процентных ставок в мире.
          </p>
          <p>Как изменились инвестиционные компании с начала бурных нулевых и после западных санкций? Какие теперь инвестиции считаются крупными? И чем рискуют патриотичные инвесторы? Эти и другие вопросы Михаил Гуревич, Рамаз Чиаурели и специальный гость — управляющий директор инвестиционной компании «Московские партнеры» Евгений Коган.</p>
        </div>
      </div>
      <div class="video__content"><iframe width="560" height="315" src="https://www.youtube.com/embed/WwMTP2HpW_I?rel=0&amp;showinfo=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
    </section>
  </div>
  //= include/footer.html
</body>

</html>