<div class="page-header__wrapper">
  <header class="page-header">
    <div class="page-header__top">
      <a class="page-header__top-logo" href="index.html"><img src="img/logo.svg" alt="логотип" class="page-header__top-logo-img">
        <div class="page-header__top-logo-text"><span class="page-header__top-logo-text-sup">Евгений Коган</span><span class="page-header__top-logo-text-sub">Инвест консультант</span></div>
      </a>
      <div class="page-header__top-nav">
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__list-item"><a href="about-me.html">Обо мне</a></li>
            <li class="main-nav__list-item"><a href="media.html">СМИ</a></li>
            <li class="main-nav__list-item"><a href="contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="page-header__screen">
      <div class="page-header__screen-content">
        <div class="page-header__screen-content-img">
          <img src="img/screen-kogan1.jpg" alt="" class="page-header__screen-content-img-content"></div>
        <div class="page-header__screen-content-right">
          <h1 class="page-header__screen-content-title">
            <span>О финансах по-честному</span> <br> <span>Более чем 20-летний опыт на фондовых рынках</span>
          </h1>
          <div class="page-header__screen-content-news">
            <div class="page-header__screen-content-news-title">Информация</div>
            <div class="page-header__screen-content-news-list">
              <div class="page-header__screen-content-news-list-item">
                <div class="page-header__screen-content-news-list-item-date">07.03.19</div>
                <p class="page-header__screen-content-news-list-item-descr">Включение Когана Евгений Борисовича в Национальную ассоциацию участников фондового рынка</p>
                <p class="page-header__screen-content-news-list-item-hidden">Информация о включении ИП Когана Евгений Борисовича в Национальную ассоциацию участников фондового рынка (НАУФОР) в качестве ассоциированного члена – дата раскрытия: 07.03.2019;. период актуальности – с 07.03.2019 по н.вр. <br>Информация о базовых стандартах НАУФОР по инвестиционному консультированию - <a href="http://www.naufor.ru/tree.asp?n=16122" target="_blank">naufor.ru</a> <br>
                <a href="" target="_blank" style="margin-top: 8px; display: inline-block">Свидетельство науфор</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>