<div class="page-header__wrapper">
  <header class="page-header">
    <div class="page-header__top">
      <a class="page-header__top-logo" href="index.html"><img src="img/logo.svg" alt="логотип" class="page-header__top-logo-img">
        <div class="page-header__top-logo-text"><span class="page-header__top-logo-text-sup">Евгений Коган</span><span class="page-header__top-logo-text-sub">Инвест консультант</span></div>
      </a>
      <div class="page-header__top-nav">
        <nav class="main-nav">
          <ul class="main-nav__list">
            <li class="main-nav__list-item"><a href="about-me.html">Обо мне</a></li>
            <li class="main-nav__list-item"><a href="media.html">СМИ</a></li>
            <li class="main-nav__list-item"><a href="contacts.html">Контакты</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
</div>