.feedback-form__wrapper {
  background-color: $grey;
  padding-bottom: 80px;
  padding-top: 60px;
}

.feedback-form {
  @extend %container;
  color: #fff;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
  b.title-section{
    margin-bottom: 50px;
  }
  &__title {
    width: 100%;
    font-size: 28px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    color: #fff;
  }
  textarea {
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    border: 2px solid #fff;
    transition: 0.4s all;
    resize: vertical;
    background-color: transparent;
    color: #fff;
    font-weight: lighter;
    &::placeholder{
      color: #fff;
      font-weight: 100;
    }
    &:hover {
      border: 2px solid $blue;
    }
    &:focus {
      border: 2px solid $blue;
    }
  }
  button {
    background-color: transparent;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
    transition: 0.4s all;
    border: 2px solid #fff;
    margin-top: 15px;
    color: #fff;
    font-weight: lighter;
    &:hover {
      border: 2px solid $blue;
    }
    &:focus {
      border: 2px solid $blue;
    }
  }
}

.feedback-form__item {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  label {
    width: 100px;
    font-weight: lighter;
  }
  input {
    border: none;
    border-bottom: 2px solid #ececec;
    width: 100%;
    transition: 0.4s all;
    outline: none;
    box-sizing: border-box;
    background-color: transparent;
    padding-left: 10px;
    font-weight: lighter;
    color: #fff;
    &:hover {
      border-bottom: 2px solid $blue;
    }
    &:focus {
      border-bottom: 2px solid $blue;
    }
  }
}